@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== FADE-IN AO SCROLL ===== */

.fade-in {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

:root{
--rose: #e998ab; /* tom principal */
--rose-dark: #c86478;
}


body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #fafafa;
}