.header {
  width: 100%;
  padding: 15px 0;
  background: #f9f3ef; /* bege do layout */
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between; /* Logo à esquerda / menu à direita */
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo {
  height: 65px;        /* AUMENTA AQUI */
  width: auto;
  filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.2)); /* sombra suave */
}

.menu {
  display: flex;
  gap: 40px;    /* Espaço entre itens */
}

.menu a {
  color: #4a1e1c; /* vinho da paleta */
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.menu a:hover {
  opacity: 0.6;
}
